/*! Demo */
@import "variables";

.demo-btn-toolbar {
  display: inline-block;
  margin-left: 0;
}

.demo-grid-block {
  background: darken($body-bg, 10%);
  border-radius: $border-radius-base;
  color: $text-color;
  font-size: 11px;
  margin-bottom: 15px;
  overflow: hidden;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
}

.demo-icons-header {
  color: $gray-dark;
  font-size: 14px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.demo-icons .icon {
  cursor: pointer;
  display: block;
  font-size: 32px;
  height: 32px;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transition: transform 0.2s;
  width: 64px;
}

.demo-icons .icon:hover {
  transform: scale(1.5)
}

.demo-icons .caption {
  color: $text-muted;
  display: block;
  font-size: 11px;
  margin-bottom: 45px;
  margin-top: 5px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.demo-slider-vertical {
  height: 400px;
}

.demo-model {
  position: relative
}

.demo-model-slider {
  height: 400px;
  position: relative;
  z-index: 2;
}

.demo-model-img {
  bottom: 10px;
  height: 272px;
  left: 50%;
  margin-left: 20px;
  position: absolute;
  width: auto;
}

.demo-form-wrapper {
  padding-bottom: 45px;
}

.demo-md-form-wrapper {
  padding-bottom: 45px
}

.demo-map {
  margin-bottom: 45px;
}

.miw-320 {
  min-width: 320px;
}

.maw-320 {
  max-width: 320px;
}

.maw-480 {
  max-width: 480px;
}

// DataTables
#demo-datatables-responsive-2_filter,
#demo-datatables-scroller-2_filter {
  text-align: left;
}

#demo-datatables-responsive-2_info,
#demo-datatables-scroller-2_info {
  text-align: right;
}

#demo-datatables-5_paginate {
  text-align: center;
}

// Code
pre {
  margin: 0;
}

.hll {
  background-color: #ffffcc;
}
.c {
  color: #60a0b0;
  font-style: italic;
}
.err {
  border: 1px solid #ff0000;
}
.k {
  color: #007020;
  font-weight: bold;
}
.o {
  color: #666666;
}
.ch {
  color: #60a0b0;
  font-style: italic;
}
.cm {
  color: #60a0b0;
  font-style: italic;
}
.cp {
  color: #007020;
}
.cpf {
  color: #60a0b0;
  font-style: italic;
}
.c1 {
  color: #60a0b0;
  font-style: italic;
}
.cs {
  background-color: #fff0f0;
  color: #60a0b0;
}
.gd {
  color: #a00000;
}
.ge {
  font-style: italic;
}
.gr {
  color: #ff0000;
}
.gh {
  color: #000080;
  font-weight: bold;
}
.gi {
  color: #00a000;
}
.go {
  color: #888888;
}
.gp {
  color: #c65d09;
  font-weight: bold;
}
.gs {
  font-weight: bold;
}
.gu {
  color: #800080;
  font-weight: bold;
}
.gt {
  color: #0044dd;
}
.kc {
  color: #007020;
  font-weight: bold;
}
.kd {
  color: #007020;
  font-weight: bold;
}
.kn {
  color: #007020;
  font-weight: bold;
}
.kp {
  color: #007020;
}
.kr {
  color: #007020;
  font-weight: bold;
}
.kt {
  color: #902000;
}
.m {
  color: #40a070;
}
.s {
  color: #4070a0;
}
.na {
  color: #4070a0;
}
.nb {
  color: #007020;
}
.nc {
  color: #0e84b5;
  font-weight: bold;
}
.no {
  color: #60add5;
}
.nd {
  color: #555555;
  font-weight: bold;
}
.ni {
  color: #d55537;
  font-weight: bold;
}
.ne {
  color: #007020;
}
.nf {
  color: #06287e;
}
.nl {
  color: #002070;
  font-weight: bold;
}
.nn {
  color: #0e84b5;
  font-weight: bold;
}
.nt {
  color: #062873;
  font-weight: bold;
}
.nv {
  color: #bb60d5;
}
.ow {
  color: #007020;
  font-weight: bold;
}
.w {
  color: #bbbbbb;
}
.mb {
  color: #40a070;
}
.mf {
  color: #40a070;
}
.mh {
  color: #40a070;
}
.mi {
  color: #40a070;
}
.mo {
  color: #40a070;
}
.sb {
  color: #4070a0;
}
.sc {
  color: #4070a0;
}
.sd {
  color: #4070a0;
  font-style: italic;
}
.s2 {
  color: #4070a0;
}
.se {
  color: #4070a0;
  font-weight: bold;
}
.sh {
  color: #4070a0;
}
.si {
  color: #70a0d0;
  font-style: italic;
}
.sx {
  color: #c65d09;
}
.sr {
  color: #235388;
}
.s1 {
  color: #4070a0;
}
.ss {
  color: #517918;
}
.bp {
  color: #007020;
}
.vc {
  color: #bb60d5;
}
.vg {
  color: #bb60d5;
}
.vi {
  color: #bb60d5;
}
.il {
  color: #40a070;
}